body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
    transition: all 400ms ease-in-out;
}

#box{
    height: 200px;
    width: 200px;
    background-color: blue;
}

#top-left, #top-right, #bottom-left, #bottom-right{
    display: block;
    position: absolute;
}

#top-left{
    left: 37%;
    top: 28%;
}

#top-right{
    left: 52%;
    top: 28%;
}

#bottom-left{
    left: 37%;
    top: 52%;
}

#bottom-right{
    left: 52%;
    top: 52%;
}

.btn{
    border: none;
    background-color: blue;
    border-radius: 5px;
    padding: 20px 40px;
    color: white;
    font-weight: 700;
    margin-top: 100px;
    transition: all 400ms ease-in-out;
}

.btn:hover{
    background-color: lightskyblue;
    color: black;
}

input[type="range"]{
    width: 200px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: blue;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
